.feed-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .feed {
        max-width: 350px;
        width: 100%;

        .posts {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .1rem;

            .post {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
                background-color: #2d2727;
                padding-inline: 0.5rem;
                padding-block: 1rem;
                border-radius: 0.5rem;

                .user {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    .img-wrapper {
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid rgba(255, 0, 0, 0);

                        background: conic-gradient(
                                from 30deg,
                                rgb(255, 123, 0),
                                rgb(202, 186, 16),
                                rgb(208, 27, 111),
                                rgb(187, 27, 208),
                                rgb(255, 123, 0)
                            )
                            border-box;

                        img {
                            width: 2rem;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: top;
                            // opacity: 0;
                        }
                    }
                }

                .icons {
                    display: flex;
                    justify-content: space-between;
                    .left {
                        display: flex;
                        gap: 0.1rem;
                        .icon-btn {
                            background: transparent;

                            svg {
                                width: 1rem;
                                aspect-ratio: 1/1;
                                color: #fff;
                            }
                        }
                    }

                    .right {
                        display: flex;
                        gap: 0.1rem;
                        .icon-btn {
                            background: transparent;

                            svg {
                                width: 1rem;
                                aspect-ratio: 1/1;
                                color: #fff;
                            }
                        }
                    }
                }

                > img {
                    width: 100%;
                    border-radius: 0.4rem;
                    border: 0.3px solid purple;
                }

                .bottom {
                    padding-inline: 1rem;
                    padding-block: 0.4rem;
                    width: fit-content;
                    border-radius: 0.5rem;
                    backdrop-filter: blur(10px);
                    background-color: #ffffff24;
                    -webkit-backdrop-filter: blur(4px);
                }
            }
        }
    }
}
