main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        height: fit-content;
        min-width: 400px;

        .form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input,button{
                border: none;
                outline: none;
                padding-inline: 1.4rem;
                padding-block: 1rem;
                border-radius: 1rem;
            }

            .submit{
                background-color: red;
                color: whitesmoke;
                cursor: pointer;
            }
        }

        .tougleAuthForm{
            
        }
    }
}
