.button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #3b82f6;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;

    &:hover {
        background: #2563eb;
    }

    &:active {
        scale: 0.96;
    }
}
